.build/
.swiftpm/
DerivedData/
node_modules/
oh_modules/
.hvigor/
.idea/
.cxx/
build/
dist/
*.hap
*.hsp
*.har
*.app
*.dSYM/
*.xcarchive/
*.p12
*.p7b
*.cer
*.pem
*.key
local.properties
*.log
.DS_Store
harmony/build-profile.json5
/huawei_app_keys/
